# PBL5 Smart Parking Configuration

# Cấu hình camera làn vào
CAMERA_IN_NAME=DV20 USB CAMERA
CAMERA_IN_INDEX=1

# Cấu hình camera làn ra
CAMERA_OUT_NAME=GENERAL - UVC
CAMERA_OUT_INDEX=0

# Custom PaddleOCR recognition model exported from TrainPaddle/train_paddle_ocr.ipynb
PADDLE_OCR_REC_MODEL_DIR=backend/models/paddleocr_vn_plate_rec
PADDLE_OCR_REC_CHAR_DICT_PATH=backend/models/paddleocr_vn_plate_rec/vn_plate_dict.txt
PADDLEOCR_REPO=TrainPaddle/PaddleOCR
PADDLE_OCR_USE_GPU=false
PADDLE_OCR_REC_ALGORITHM=SVTR_LCNet
PADDLE_OCR_REC_IMAGE_SHAPE=3,48,320
